{% load static %}j
<!-- html page for the editing the profile -->
<html>
<head>
	<!-- content inside the head tag of an html page -->
	<meta charset="UTF-8">
	<!--tell the IE to use the latest rendering engine-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<!--set the page width to size of the device and zoom level to 1-->
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{title}}</title>
	<!-- bootstrap link -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/scrolling-nav.css' %}">
</head>
<body>
	<!-- naviagation bar -->
	{% include 'navbar_dashboard.html' %}
	<div class="container-fluid profile-background">
	    <div class="row profile">
	    	<!-- sidebar -->
			<div class="col-md-3">
				<div class="profile-sidebar">

					<!-- sidebar userpic -->
					<div class="profile-userpic">
						<img src="{% get_static_prefix %}{{user.userdetail.image}}" class="img-responsive" alt="">
					</div>
					<!-- end sidebar userpic -->
					<!-- sidebar title -->
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							{{form.first_name.value}} {{form.last_name.value}}
						</div>
						<div class="profile-usertitle-job email">
							{{user.email}}
						</div>
					</div>
					<!-- end sidebar title -->

					<!-- sidebar menu -->
					<div class="profile-usermenu">
						<ul class="nav">
							<!-- overview menu displays the profile -->
							<li>
								<a href="{% url 'profile' %}">
								<i class="glyphicon glyphicon-home"></i>
								Overview </a>
							</li>
							<!-- edit profile menu opens the page for editing the profile -->
							<li class="active">
								<a href="{% url 'edit_profile' %}">
								<i class="glyphicon glyphicon-user"></i>
								Edit Profile </a>
							</li>
							<!-- logs out the user -->
							<li>
								<a href="{% url 'logout' %}">
								<i class="glyphicon glyphicon-log-out"></i>
								Log out </a>
							</li>
						</ul>
					</div>
					<!-- end menu -->
				</div>
			</div> <!--end sidebar -->

			<!-- edit profile content, displaying all the fields for editin the user profile -->
			<div class="col-md-9">
	            <div class="profile-content">
						<div class="row">
							<div class="col-md-12">
								<!-- heading -->
								<div class="page-header">
									<h1>
										Edit Your Profile
									</h1>
								</div>

								<!-- feedback message, -->
								{% if success_message %}
								<!-- displaying success message on successfully updating the data -->
								<div class="col-md-12">
									<div class="alert alert-success text-center">
							            <a class="close" href="#" data-dismiss="alert">×</a>
							            <strong>{{ success_message }}</strong>							                
							        </div>
								</div>
								{% endif %}
								<!-- displaying error message -->
								{% if error_message %}
								<div class="col-md-12">
									<div class="alert alert-danger text-center">
							            <a class="close" href="#" data-dismiss="alert">×</a>
							            <strong>{{ error_message }}</strong>							                
							        </div>
								</div>
								{% endif %}
							</div>
						</div>
						<!-- editing form -->
						<div class="row">
							<form acition="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
							{{ form.non_field_errors }}
								<div class="col-md-2"></div>
								<!-- fields -->
								<div class="col-md-8">
									<!-- First name field -->
									<div class="form-group col-sm-6">
										<!-- label -->
										{{ form.first_name.label_tag }} 

										<!-- displaying validation errors if any -->
										{% if form.first_name.errors %}
										<div class="has-error has-feedback">
											{{ form.first_name }}
											<span class="help-inline text-danger">
							                    {% for error in  form.first_name.errors %}{{ error }}{% endfor %}
							                </span>
							                 <span class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
										<!-- textfield -->
										{% else %}
											{{ form.first_name }}
										{% endif %}

									</div>

									<!-- Last name field -->
									<div class="form-group col-sm-6">
										<!-- label -->
										{{ form.last_name.label_tag }}

										<!-- displaying validation errors if any -->
										{% if form.last_name.errors %}
										<div class="has-error has-feedback">
											{{ form.last_name }}
											<span class="help-inline text-danger">
							                    {% for error in  form.last_name.errors %}{{ error }}{% endfor %}
							                </span>
							                 <span class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
										<!-- textfield -->
										{% else %}
											{{ form.last_name }}
										{% endif %}
									</div>									
									<!-- Marital field -->
									<div class="form-group col-sm-6">
										<!-- label -->
										{{ form.marital.label_tag }}
										<!-- dropdown -->
										<div>{{ form.marital }}</div>
										<div class="help-inline text-danger">{{ form.marital.errors }}</div>
									</div>		
									<!-- Gender field -->
									<div class="form-group col-sm-6">
										<!-- label -->
										{{ form.gender.label_tag }}
										<!-- radio button -->
										<div>
											{% for field in  form.gender %}{{ field }}{% endfor %}
										</div>
										
									</div>							
									<!-- Date of birth field -->
									<div class="form-group col-sm-6">
										<!-- label -->
										{{ form.date_of_birth.label_tag }}
										<!-- displaying errors if any -->
										{% if form.date_of_birth.errors %}
										<div class="has-error has-feedback">
											{{ form.date_of_birth }}
											<span class="help-inline text-danger">
							                    {% for error in  form.date_of_birth.errors %}{{ error }}{% endfor %}
							                </span>
							                 <span class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
										{% elif form.date_of_birth.help_text %}
											<div>{{ form.date_of_birth }}</div>
											<p class="help-block "><small>{{ form.date_of_birth.help_text }}</small></p>
										<!-- date feild -->
										{% else %}
											<div>{{ form.date_of_birth }}</div>
										{% endif %}
									</div>
									<!-- Phone field -->
									<div class="form-group col-sm-6">
										<!-- lable -->
										{{ form.phone.label_tag }}
										<!-- display errors if any -->
										{% if form.phone.errors %}
										<div class="has-error has-feedback">
											{{ form.phone }}
											<span class="help-inline text-danger">
							                    {% for error in  form.phone.errors %}{{ error }}{% endfor %}
							                </span>
							                 <span class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
										{% elif form.phone.help_text %}
											<div>{{ form.phone }}</div>
											<p class="help-block">{{ form.phone.help_text }}</p>
										{% else %}
											<div>{{ form.phone }}</div>
										{% endif %}
									</div>
							    	
									<!-- Address field -->
									<div class="form-group col-sm-12">
										<!-- label -->
										{{ form.address.label_tag }}
										<!-- display errors if any -->
										{% if form.address.errors %}
										<div class="has-error has-feedback">
											{{ form.address }}
											<span class="help-inline text-danger">
							                    {% for error in  form.address.errors %}{{ error }}{% endfor %}
							                </span>
							                 <span class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
										{% else %}
											<div>{{ form.address }}</div>
										{% endif %}

									</div>

									<!-- Street field -->
									<div class="form-group col-sm-6">
										<!-- label -->
										{{ form.street.label_tag }}
										<!-- display errors if any -->
										{% if form.street.errors %}
										<div class="has-error has-feedback">
											{{ form.street }}
											<span class="help-inline text-danger">
							                    {% for error in  form.street.errors %}{{ error }}{% endfor %}
							                </span>
							                 <span class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
										{% else %}
											<div>{{ form.street }}</div>
										{% endif %}
									</div>
									<!-- City field -->
									<div class="form-group col-sm-6">
										<!-- label -->
										{{ form.city.label_tag }}
										<!-- display errors if any -->
										{% if form.city.errors %}
										<div class="has-error has-feedback">
											{{ form.city }}
											<span class="help-inline text-danger">
							                    {% for error in  form.city.errors %}{{ error }}{% endfor %}
							                </span>
							                 <span class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
										{% else %}
											<div>{{ form.city }}</div>
										{% endif %}
									</div>
									<!-- State field -->
									<div class="form-group col-sm-6">
										<!-- label -->
										{{ form.state.label_tag }}
										<!-- display errors if any -->
										{% if form.state.errors %}
										<div class="has-error has-feedback">
											{{ form.state }}
											<span class="help-inline text-danger">
							                    {% for error in  form.state.errors %}{{ error }}{% endfor %}
							                </span>
							                 <span class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
										{% else %}
											<div>{{ form.state }}</div>
										{% endif %}
									</div>
									<!-- Zip code field -->
									<div class="form-group col-sm-6">
										<!-- label -->
										{{ form.zip_code.label_tag }}
										<!-- display error if any -->
										{% if form.zip_code.errors %}
										<div class="has-error has-feedback">
											{{ form.zip_code }}
											<span class="help-inline text-danger">
							                    {% for error in  form.zip_code.errors %}{{ error }}{% endfor %}
							                </span>
							                 <span class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
										{% else %}
											<div>{{ form.zip_code }}</div>
										{% endif %}
									</div>
									<!-- Preferred communication field -->
									<div class="form-group col-sm-12">
										<div><label>Preferred communication:</label></div>
										<!-- checkbox for the preferred communication medium -->
										<div class="col-sm-6">
											<label>{{ form.mail}} Mail</label>
										</div>
										<div class="col-sm-6">
											<label>{{ form.message}} Message</label>
										</div>
										<div class="col-sm-6">
											<label>{{ form.phonecall}} Phone</label>
										</div>
										<div class="col-sm-6">
											<label>{{ form.other}} Other</label>
										</div>
									</div >									
									<!-- Extra note field -->
									<div class="form-group col-sm-12">
										{{ form.extra_note.label_tag }}

										{% if form.extra_note.errors %}
										<div class="has-error has-feedback">
											{{ form.extra_note }}
											<span class="help-inline text-danger">
							                    {% for error in  form.extra_note.errors %}{{ error }}{% endfor %}
							                </span>
							                 <span class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
										{% else %}
											<div>{{ form.extra_note }}</div>
										{% endif %}
									</div>
									<!-- image field -->
									<div class="form-group col-sm-12">
										<!-- label -->
										{{ form.image.label_tag }}

										{% if form.image.errors %}
										<div class="has-error has-feedback">
											{{ form.image }}
											<span class="help-inline text-danger">
							                    {% for error in  form.image.errors %}{{ error }}{% endfor %}
							                </span>
							                 <span class="glyphicon glyphicon-remove form-control-feedback"></span>
										</div>
										{% elif form.image.help_text %}
											<div>{{ form.image }}</div>
											<p class="help-block"><small>{{ form.image.help_text }}</small></p>
										{% else %}
											<div>{{ form.image }}</div>
										{% endif %}
									</div>
									<!-- Save button -->
									<div class="form-group col-sm-12">
										<button type="submit" class="btn btn-success btn-lg " >Save</button>
									</div>
								</div> <!-- /col-md-8 -->
								<div class="col-md-2"></div>
							</form>
						</div>						
	            </div> <!--profile-content end-->
			</div> <!----col-md-3-->
		</div> <!--row profile-->
	</div>	
	
	<!-- footer -->
	{% include 'footer.html'%}	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	<!-- Scrolling Nav JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
</body>
</html>