
.vertical-center{
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  	min-height: 100vh; /* These two lines are counted as one :-)       */

	display: flex;
  	align-items: center;
}

/*making it in center*/
.horizontal-center{
	padding-left: 10% !important;
	padding-right: 10% !important;
}
.banner{
	min-height: 500px;
	width: 100%;
}
.section-one{
	font-size: 25px;
	padding-bottom: 5%;
}
.section-two{
	font-size: 20px;
	padding-top: 5%;
	padding-bottom: 5%;
	background: #eeffff;
}
.intro-heading{
	text-align: center;
	font-size: 30px;
	color: white;
	top: 400px;
	left: 650px;
	position: absolute;
}
#footer{
/*	text-align: center;*/
	background: gray;
}
