{% extends 'base.html' %}
{% load staticfiles %}
{% block home-marquee %}
<!-- search form in dashboard-->
<div class="row dashboard">
 	<div class = "col-xs-12">
		<div class="row"><h3 class="text-center">What would you like to search?</h3>
		</div><br>
		<form action="{% url 'dashboard' %}" method='get' id="dashboard_search_form">
			<div class="form-group col-xs-6 col-xs-offset-2 text-center has-feedback stick-text">
				{{ form.non_field_errors }}
				<!-- if the field contains errors display error message -->
				{% if form.search.errors %}
					<div class="has-error has-feedback">
						{{ form.search }}
						<span class="help-inline text-danger">
		                    {% for error in  form.search_item.errors %}{{ error }}{% endfor %}
		                </span>
		                 <i class="glyphicon glyphicon-remove form-control-feedback"></i>
					</div>
				{% else %}
				<!-- search textfield -->
					<div class="controls has-feedback inner-addon left-addon">
						<i class="glyphicon glyphicon-search form-control-feedback"></i>
 						{{form.search}}
 						
					</div>
				{% endif %}					
			</div>
			<!-- submit button -->
			<div class="form-group col-xs-2 stick-submit">
				<button type="submit" id="dashboard_search_submit" name="dashboard_search_submit" class="sharp-corner-left btn btn-primary " >Search</button>
			</div>
		</form>
	</div>
	<!-- area for displaying the results -->
	<div id="result_area">
	</div>
	
	<!-- loading image -->
	<div class="col-xs-12">
		<div class="load_div col-xs-12" id="load_div"><div class="text-center"><img class="loading_img" width="140px" height="140px" src="{% static 'images/loader3.gif' %}"></div></div>
	</div>
</div>
{% endblock%}
