<footer id = "footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-2">
              <h6>Copyright &copy; 2016 company</h6>
            </div>
            <div class="col-sm-4">
              <h6>About Us</h6>
              <p>We do only one thing - off-shore small-team software development - and we do it very well. From hiring to testing to reviews to environment to learning to culture, we are focused on being the rock-stars of software development. We are bad at sales and marketing and have no intention of changing it.</p>
            </div>
            <div class="col-sm-2">
              <h6>Navigation</h6>
              <ul class="unstyled">
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Links</a></li>
                <li><a href="#">Contact</a></li>
              </ul>

            </div>
            <div class="col-sm-2">
              <h6>Follow Us</h6>
              <ul class="unstyled">
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Google Plus</a></li>
              </ul>

            </div>
            <div class="col-sm-2">
              <h6>Coded with <span class = "glyphicon glyphicon-heart"></span> By Jonathan</h6>
            </div>

          </div>
        </div>
      </footer>