<!-- content inside the head tag of an html page -->
<meta charset="UTF-8">
<!--tell the IE to use the latest rendering engine-->
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<!--set the page width to size of the device and zoom level to 1-->
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Home Page</title>
<!-- bootstrap link -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">	
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />