{% extends 'base_home.html' %}
{% load staticfiles %}
{% block home-marquee %}

<section>
	<!-- home page -->
  <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <h1>Extract web data the easy way- <strong><span class="color">Scrappler.com</span></strong></h1>
                <p class="lead">The world's leading web data extraction platform for businesses and individuals. <strong>Go explore</strong></p>
                <a href="#tf-about" class="fa fa-angle-down page-scroll"></a>
            </div>
        </div>
    </div>

	<!-- About Us section -->
	<div id="tf-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{%static 'images/scrapping_image.png' %}" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h2>Some words <strong>about us</strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro">Scrappler is one of the top web scraping companies in the world for a reason.
Contact us and try it for yourself, you will be impressed by our responsiveness (most of our customers are)</p>
                        <ul class="about-list">
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Mission</strong> - <em>We deliver uniqueness and quality</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Skills</strong> - <em>Delivering fast and excellent results</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Clients</strong> - <em>Satisfied clients thanks to our experience</em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Services Section
    ==========================================-->
    <div id="tf-services" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>Take a look at <strong>our services</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>Everything you need to get better data, faster.</em></small>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 service">
                    <i class="fa glyphicon glyphicon-user fa-desktop"></i>
                    <h4><strong>Great customer support</strong></h4>
                    <p>We provide support on all our packages, including our free plan. If you have any problems scraping any websites – let us know.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa glyphicon glyphicon-flag fa-mobile"></i>
                    <h4><strong>Simpler and Smarter</strong></h4>
                    <p>Get started in minutes without the hassle of installing any software or talking to expensive consultants.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa glyphicon glyphicon-thumbs-up fa-camera"></i>
                    <h4><strong>A Helping Hand</strong></h4>
                    <p>Customer success experts are ready to help you acquire data smarter and set you up for success from day one.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa glyphicon glyphicon-time fa-bullhorn"></i>
                    <h4><strong>Fast</strong></h4>
                    <p>The fastest scrapper that lets you scrap information at a incredibly fast speed</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}